{% extends 'base.html' %}

{% load static %}

{% block title %}Organization{% endblock %}

{% block extra_head %}

<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">

{% endblock %}

{% block content %}
{% csrf_token %}

<div class="container border-2 border-info rounded  py-2">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="{% static 'admin/img/slide1.png' %}" data-bs-interval="1" class="d-block w-100 rounded" height="460px" width="1286px" alt="first_slide">
          </div>
          <div class="carousel-item">
            <img src="{% static 'admin/img/slide2.jpg' %}" data-bs-interval="1" class="d-block w-100 rounded" height="460px" width="1286px" alt="second_slide">
          </div>
          <div class="carousel-item active">
            <img src="{% static 'admin/img/What-Do-Software-Engineers-Do-WOZ-1-min.png' %}" data-bs-interval="1" class="d-block w-100 rounded" height="460px" width="1286px" alt="third_slide">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container text-capitalize h2 mt-2">
          <span style="color: #0f79c5;">
            we make complex software simpler by adopting a professional approach using latest technology.
          </span>
      </div>
</div>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
    "use strict";

</script>
{% endblock %}