{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block extra_head %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %} | Attendance Management</title>
    {% block css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'attendance_app:dashboard' %}">
            <img src="{% static 'admin/img/logo.png' %}" height="50px" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active text-primary btn btn-light " aria-current="page" href="{% url 'attendance_app:dashboard' %}">Home</a>
                </li>
                <li class="nav-item mx-2">
                  <a class="nav-link active text-primary btn btn-light" href="{% url 'accounts:user_profile' %}">Profile</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle btn btn-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Organization
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'organizations:owner-login' %}">Owner Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'organizations:organization' %}">Visit Company Site</a></li>
                  </ul>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block javascript %}{% endblock javascript %}
    
  </body>
</html>

